.images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

/* .images-container img {
    max-height: 150px;
    border: none;
} */
.file-wrapper{
    width: 50%;
    margin: auto;
}

.file-wrapper button{
    float: right;
    margin-top: -10px;
    color: red;
}
/* .image-wrapper {
    position: relative;
}
.image-wrapper span {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
} */

